*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;

}
.cursor
{
    position: relative;
    width: 80px;
    height: 80px;
}
.cursor .circle
{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#00d0ff, #ff005e); */
    background: linear-gradient(#03045e, #0077b6);
    border-radius: 50%;
}
